<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
            width 100px;
            height 100 px;
          }
      
    </style>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://www.flaticon.com/media/img/home/editor-2.png" alt="">
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-stripped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <td>Nombre</td>
            <td>Apellido</td>
          </thead>
          <tbody>
            <tr>
              <th>[[prop2]]</th>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <th>2</th>
              <td>Leandro</td>
              <td>Gao</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
          },
          prop2: {
            type:Number,
            value: 999
          },
          prop3: {
            type: String,
            value:"Indique su usuario"
          }
        };
      }
      incrementar(){
        this.prop2=this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
